<header class="header">
	<div class="header__container">
		<div class="header__logo">
			<a href="">.home( )</a>
		</div>
		<nav class="header__nav">
			<ul class="header__list">
				<li class="header__item"><a href="" class="header__link" id="is">.is( )</a></li>
				<li class="header__item"><a href="" class="header__link" id="work">.work( )</a></li>
				<li class="header__item"><a href="" class="header__link" id="about">.about( )</a></li>
				<li class="header__item"><a href="" class="header__link" id="contact">.contact( )</a></li>
			</ul>
		</nav>
	</div>
</header>